.button {
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.center {
  text-align: center;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.button.grey {
      background-color: #eee;
}

div.buttons{
  text-align: center;
  margin: 0 auto;
  position: relative;
}

footer div{
  width: 100%;
  height: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #03A9F4;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

div.container-fixed{
  position: fixed;
  margin-top: -8%;
  margin-left: 1%;
  padding: 10px;
  background-color: #F5F5F5;
}
footer img{
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  margin: 5px auto;
}

html,body,div#main,.map-gic{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h2#configTitle{
  font-size: 2em;
}

h2{
  color: #212121;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}

h3{
  color: #212121;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 3px;
  font-family: 'Raleway', sans-serif;
}

h5{
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0;
  color: #212121;
  font-family: 'Raleway', sans-serif;
}

img#settings{
  position: fixed;
  z-index: 1;
  margin-top: -12%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease;
}

i{
  font-size: 1em;
}

img#settings:hover{
  width: 75px;
  height: 75px;
}


select.selectConfigs{
  background-color: white;
  padding: 5px;
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 1em;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
